app-timeline {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.registration-address__names {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .input-address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    input {
      width: 41vw;
      min-width: 291px;
    }
  }

  .registration-address__fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    .input-address-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;

      app-input {
        .input-wrapper {
          input {

            width: 16vw;
            min-width: 291px;
          }
        }

      }
    }
  }

  .form-buttons {
    display: flex;
    gap: 15px;

    .registration-data__button {
      position: relative;
      display: flex;
      gap: 0px 15px;

      mat-icon {
        position: absolute;
        right: 2px;
        top: 10px;
        color: var(--white);
        font-size: 20px;
      }

      &:nth-child(1) {
        mat-icon {
          left: 7px;
        }
      }
    }
  }
}

.input-wrapper {

  input {
    width: 50vw;
  }
}
