app-timeline {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.form-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  div {

    #fullName,
    #socialName {
      input {
        min-width: 291px;
        width: 41vw;
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;


  .registration-data__names {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 15px;

    @media screen and (max-width: 680px) {
      flex-wrap: wrap;
    }


    #fullName,
    #socialName {
      width: 50%;
      min-width: 291px;
      margin: 15px;
    }
  }

  .registration-data__info {
    width: 80vw;
    display: flex;
    justify-content: center;
    gap: 15px;

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }

    input,
    select#school {
      width: 25%;
      min-width: 291px;
      padding: 0 15px;
      color: var(--gray-dark);
    }

  }

  input,
  #school {
    height: 38px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 14px 12px;
    outline: none;
    border: 2px solid var(--gray);
    transition: all 0.3s ease;
    display: flex;
  }

  .registration-data__button {
    position: relative;

    mat-icon {
      position: absolute;
      right: 2px;
      top: 10px;
      color: var(--white);
      font-size: 20px;
    }
  }

  .input-wrapper {
    input {
      width: 16vw;
      min-width: 291px;
    }
  }
}
