h2#mat-mdc-dialog-title-0 {
  text-align: center;
}

mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 100%;
  }
}

mat-dialog-content {
  padding: 16px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}
